<h2>Flights</h2>

<%= @flights.each do |flight| %>
<ul>
    <p>Number : <%= flight.number %>, Flight Airline: <%= flight.airline.name %></p>
    <p>Passengers : <%= flight.passengers.name %></p>
</ul>
<% end %>

<%=  %>
<%  %>
